<section class="container font-bold p-4 bg-black bg-opacity-50 rounded-md shadow-lg shadow-orange-400 w-full h-fit flex flex-col items-center">
  <!-- Frontend -->
  <div class="frontend rounded-md bg-white bg-opacity-60 w-full p-3 m-3 flex flex-col items-center">
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-6xl mb-2 text-center">Front-End Languages</h1>
    <div class="flex flex-wrap justify-center gap-3 sm:gap-5 text-3xl sm:text-4xl md:text-5xl lg:text-6xl">
      <i class="devicon-javascript-plain colored" data-tooltip="JavaScript"></i>
      <i class="devicon-angularjs-plain colored" data-tooltip="Angular2+"></i>
      <i class="devicon-react-original colored" data-tooltip="React"></i>
      <i class="devicon-jquery-plain colored" data-tooltip="JQuery"></i>
      <i class="devicon-html5-plain colored" data-tooltip="HTML5"></i>
      <i class="devicon-css3-plain colored" data-tooltip="CSS3"></i>
      <i class="devicon-materialui-plain colored" data-tooltip="MaterialUI"></i>
      <i class="devicon-tailwindcss-original colored" data-tooltip="TailWind"></i>
      <i class="devicon-jasmine-plain colored" data-tooltip="Jasmine"></i>
      <i class="devicon-karma-plain colored" data-tooltip="Karma"></i>
    </div>
  </div>

  <!-- Backend -->
  <div class="backend rounded-md bg-white bg-opacity-60 w-full p-3 m-3 flex flex-col items-center">
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-6xl mb-2 text-center">Back-End Languages</h1>
    <div class="flex flex-wrap justify-center gap-3 sm:gap-5 text-3xl sm:text-4xl md:text-5xl lg:text-6xl">
      <i class="devicon-nodejs-plain colored" data-tooltip="NodeJS"></i>
      <i class="devicon-nextjs-original colored" data-tooltip="NextJS"></i>
      <i class="devicon-nestjs-plain colored" data-tooltip="NestJS"></i>
      <i class="devicon-express-original colored" data-tooltip="ExpressJS"></i>
      <i class="devicon-mongodb-plain colored" data-tooltip="MongoDB"></i>
      <i class="devicon-python-plain colored" data-tooltip="Python"></i>
      <i class="devicon-java-plain colored" data-tooltip="Java"></i>
      <i class="devicon-spring-plain colored" data-tooltip="SpringBoot"></i>
      <i class="devicon-graphql-plain colored" data-tooltip="GraphQL"></i>
    </div>
  </div>

  <!-- Other Tech -->
  <div class="othertech rounded-md bg-white bg-opacity-60 w-full p-3 m-3 flex flex-col items-center">
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-6xl mb-2 text-center">Other Technologies</h1>
    <div class="flex flex-wrap justify-center gap-3 sm:gap-5 text-3xl sm:text-4xl md:text-5xl lg:text-6xl">
      <i class="devicon-figma-plain colored" data-tooltip="Figma"></i>
      <i class="devicon-jira-plain colored" data-tooltip="Jira"></i>
      <i class="devicon-git-plain colored" data-tooltip="Git"></i>
      <i class="devicon-github-original colored" data-tooltip="Github"></i>
      <i class="devicon-visualstudio-plain colored" data-tooltip="VScode"></i>
      <i class="devicon-amazonwebservices-original colored" data-tooltip="AWS"></i>
      <i class="devicon-jenkins-line colored" data-tooltip="Jenkins"></i>
    </div>
  </div>
</section>

