<section class="container w-screen h-[80vh] flex flex-col items-center justify-center overflow-hidden">
  <div class="project_containers h-fit grid justify-items-center w-9/12">
    <div class="project_container h-fit m-1 grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (p of addProjectsHere; track p) {
        <li class="flex flex-col m-2 p-4 text-xs sm:text-base text-center shadow-lg shadow-black w-full h-25 lg:h-56 list-none rounded-2xl bg-black bg-opacity-50 text-white border-orange-400 border-2 transition-transform transform hover:scale-105 hover:shadow-xl">
          <div class="w-full overflow-hidden">
            <img class="h-0  lg:h-full w-full object-cover" [src]="p.imageUrl" [alt]="p.project_name" />
          </div>
          <h2 class="font-bold text-xs sm:text-lg mt-2">{{ p.project_name }}</h2>
          <a [href]="p.url" target="_blank" class="font-medium italic underline hover:text-orange-400">View Project</a>
        </li>
      }
    </div>
  </div>
  <mat-paginator
    [length]="projects.length"
    [pageSize]="size"
    [pageSizeOptions]="[6, 12, 18]"
    [showFirstLastButtons]="true"
    [pageIndex]="page"
    (page)="getProjects($event)"
    aria-label="Select page"
    class="bg-orange-400 text-white shadow-lg rounded-md mt-4 h-15"
  >
  </mat-paginator>
</section>





