<nav class="bg-orange-400 shadow-md shadow-black rounded-2xl h-full
flex font-bold">
  <p>
    <span class="text-6xl font-medium">G</span>
    <span class="text-6xl font-medium text-white">R.</span>
  </p>
  <ul class="menu  h-full w-fit flex justify-center items-center
  space-x-10 text-2xl ml-8 mr-5">
    <li><a class=" hover:text-white" [routerLink]="['/']" >About Me</a></li>
    <li><a class=" hover:text-white" [routerLink]="['/projects']"  >Projects</a></li>
    <li><a class=" hover:text-white" [routerLink]="['/skills']"  >Skills</a></li>
    <li><a class=" hover:text-white" [routerLink]="['/contact-me']"  >Contact Me</a></li>
  </ul>
</nav>


