<section class="flex flex-col items-center p-4 h-full w-full ">
  <div class="bg-opacity-50 text-white flex flex-col md:flex-row gap-6 max-w-6xl w-11/12  mx-auto">

    <!-- Typewriter Section -->
    <div class="animated_intro flex flex-col justify-center items-center text-center font-bold space-y-4 flex-1">
      <div class="text-lg sm:text-4xl md:text-6xl text-black leading-snug">
        {{ typedIntro$ | async }}
      </div>
      <div class="text-xl sm:text-5xl md:text-8xl text-white leading-tight">
        {{ typedName$ | async }}
      </div>
      <div class="text-base sm:text-2xl md:text-5xl text-orange-400 leading-snug">
        {{ typedJobTitle$ | async }}
      </div>
    </div>

    <!-- Profile Picture Section -->
    <div class="flex justify-center items-center flex-1">
      <img src="/assets/images/pp.png"
           alt="Profile picture of Gregory"
           class="w-28 sm:w-52 md:w-64 lg:w-72 rounded-xl shadow-2xl border-4 border-black bg-orange-400">
    </div>
  </div>

  <!-- Buttons Section -->
  <div class="flex flex-wrap justify-center gap-4 mt-4 ">
    <button
      class="border-orange-400 bg-orange-400 text-xs sm:text-base text-black border-2 px-3 py-0 sm:px-6 sm:py-2 font-bold rounded-md hover:bg-black hover:text-orange-400">
      Resume
    </button>
    <button
      class="border-orange-400 bg-orange-400 text-xs sm:text-base text-black border-2 px-6 py-2 font-bold rounded-md hover:bg-black hover:text-orange-400">
      Certification
    </button>
  </div>

  <!-- About Me Section -->
  <div
    class="about_me bg-black bg-opacity-50 text-white border border-white w-11/12 md:w-2/3 lg:w-1/2 mt-6 mb-4 p-4 rounded-xl mx-auto text-center text-xs sm:text-base">
    I began my development journey in 2021 by attending the Kenzie Academy at Southern New Hampshire University.
    While in attendance I acquired skills such as HTML, CSS, JavaScript, NodeJs/ExpressJs, ReactJs, and AngularJs.
    <span
      class="ml-2 px-2  rounded-md border-2 border-orange-400 bg-orange-400 text-black font-bold cursor-pointer hover:bg-black hover:text-orange-400 hover:border-orange-400"
      (click)="openDialog()">
      Read More...
    </span>
  </div>
</section>




















