/* Front END */

.devicon-javascript-plain:hover::after,
.devicon-angularjs-plain:hover::after,
.devicon-react-original:hover::after,
.devicon-jquery-plain:hover::after,
.devicon-html5-plain:hover::after,
.devicon-css3-plain:hover::after,
.devicon-materialui-plain:hover::after,
.devicon-tailwindcss-original:hover::after,
.devicon-jasmine-plain:hover::after,
.devicon-karma-plain:hover:after{
  content: attr(data-tooltip);
  background-color:#FB923C;
  color: #000;
  border-radius: 10px;
  font-size: 0.35em;
  position: absolute;
  width: auto;
  bottom: 0px;
  left: 0px;
  transition: all ease-in 3s;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  flex: wrap;
}

.devicon-javascript-plain,
.devicon-angularjs-plain,
.devicon-react-original,
.devicon-jquery-plain,
.devicon-html5-plain,
.devicon-css3-plain,
.devicon-materialui-plain,
.devicon-tailwindcss-original,
.devicon-jasmine-plain,
.devicon-karma-plain{
  position: relative;
}

.devicon-react-original:hover::after{
  left: 15px;
}

.devicon-jquery-plain:hover::after,
.devicon-html5-plain:hover::after,
.devicon-jasmine-plain:hover::after{
  left: 10px;
}

.devicon-css3-plain:hover::after,
.devicon-karma-plain:hover:after{
  left: 19px;
}



/* Backend */

.devicon-nodejs-plain,
.devicon-nextjs-original,
.devicon-nestjs-plain,
.devicon-express-original,
.devicon-mongodb-plain,
.devicon-python-plain,
.devicon-java-plain,
.devicon-graphql-plain,
.devicon-spring-plain{
  position: relative;
}

.devicon-nodejs-plain:hover::after,
.devicon-nextjs-original:hover::after,
.devicon-nestjs-plain:hover::after,
.devicon-express-original:hover::after,
.devicon-mongodb-plain:hover::after,
.devicon-python-plain:hover::after,
.devicon-java-plain:hover::after,
.devicon-spring-plain:hover::after,
.devicon-graphql-plain:hover::after{
  content: attr(data-tooltip);
  background-color:#FB923C;
  color: #000;
  border-radius: 10px;
  font-size: 0.35em;
  position: absolute;
  width: auto;
  bottom: 0px;
  left: 0px;
  transition: all ease-in 3s;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  flex: wrap;
}

.devicon-graphql-plain:hover::after{
left: 3px;
}

.devicon-nodejs-plain:hover::after,
.devicon-nextjs-original:hover::after,
.devicon-python-plain:hover::after{
  left: 10px;
}

.devicon-nestjs-plain:hover::after{
  left: 15px;
}

.devicon-java-plain:hover::after{
  left: 25px;
}

.devicon-spring-plain:hover::after{
  left: -6px;
}

/* Other Technologies */

.devicon-figma-plain,
.devicon-jira-plain,
.devicon-git-plain,
.devicon-github-original,
.devicon-visualstudio-plain,
.devicon-amazonwebservices-original,
.devicon-jenkins-line{
  position: relative;
}


.devicon-figma-plain:hover::after,
.devicon-jira-plain:hover::after,
.devicon-git-plain:hover::after,
.devicon-github-original:hover::after,
.devicon-visualstudio-plain:hover::after,
.devicon-amazonwebservices-original:hover::after,
.devicon-jenkins-line:hover::after{
  content: attr(data-tooltip);
  background-color:#FB923C;
  color: #000;
  border-radius: 10px;
  font-size: .35em;
  position: absolute;
  width: auto;
  bottom: 0px;
  left: 0px;
  transition: all ease-in 3s;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  flex: wrap;
}

.devicon-visualstudio-plain:hover::after{
  left: 10px;
}
.devicon-github-original:hover::after,
.devicon-jenkins-line:hover::after{
  left: 14px;
}
.devicon-figma-plain:hover::after{
  left: 15px;
}
.devicon-amazonwebservices-original:hover::after{
  left: 25px;
}
.devicon-git-plain:hover::after{
  left: 30px;
}
.devicon-jira-plain:hover::after{
  left: 35px;
}
