<section class="bg-gradient-to-br from-black to-orange-400
w-fit h-fit overflow-hidden border-4 border-black">
<div class="p-3 bg-white bg-opacity-40 font-bold text-black h-fit">
  <p>
    I began my development journey in 2021
    by attending the Kenzie Academy at Southern New Hampshire
    University. While in attendance I acquired skills such as
    HTML, CSS, JavaScript, NodeJs/ExpressJs, ReactJs, and
    AngularJs. <span class="border-orange-400 border-4">Upon</span> completion, I was granted a certificate in
    Associate Front-End Web Development. From there, I found an
    internship where I acquired a deeper understanding of Full
    Stack technologies, and built production-ready code with teams
    of engineers. Since then, I’ve been enamored by the possibility
    of becoming a Freelance developer and creating an immaculate
    portfolio. My mission is to develop solutions for my clients
    and achieve a profound understanding of ever-evolving
    technologies to enhance my skills.
  </p>
</div>
</section>
